%btn {
  position:relative;
  font-weight:600;
  line-height:40px;
  display:inline-block;
  *display:inline;
  zoom:1;
  padding:0 25px;
}
.btn-primary {
  @extend %btn;
  background:rgba(255,255,255,0.8);
  color:#444;
  text-shadow:0 1px 1px #fff;
  &:hover {
    background:rgba(255,255,255,0.7);
  }
}
.btn--icon {
  padding:0 25px 0 50px;
  i {
    font-size:22px;
    @include position(absolute, 9px 0 0 15px);
  }
}
