::-webkit-selection {
  background:#fe57a1;
  color:#fff;
  text-shadow:none;
}
::-moz-selection {
  background:#fe57a1;
  color:#fff;
  text-shadow:none;
}
::selection {
  background:#fe57a1;
  color:#fff;
  text-shadow:none;
}
