html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

::-moz-selection {
    background: $c-text;
    color: $c-bg;
}
::selection {
    background: $c-text;
    color: $c-bg;
}
a::-moz-selection {}
a::selection {}

html, body {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
html {
    font-size: 62.5%;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
body {
    font-family: $ff;
    background-color: $c-bg;
    color: $c-text;
    @include font-size(1.4);
    font-weight: 300;
    line-height: 1.6;
}
